<%= form_for(shared_room) do |f| %>
  <% if shared_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shared_room.errors.count, "error") %> prohibited this shared_room from being saved:</h2>

      <ul>
      <% shared_room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :conference_id %>
    <%= f.text_field :conference_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
