<p id="notice"><%= notice %></p>

<h1>Shared Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Conference</th>
      <th>User</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shared_rooms.each do |shared_room| %>
      <tr>
        <td><%= shared_room.conference %></td>
        <td><%= shared_room.user_id %></td>
        <td><%= shared_room.name %></td>
        <td><%= link_to 'Show', shared_room %></td>
        <td><%= link_to 'Edit', edit_shared_room_path(shared_room) %></td>
        <td><%= link_to 'Destroy', shared_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shared Room', new_shared_room_path %>
